Node-red.txt
[{"id":"40148160.9c6388","type":"file in","z":"2c2f4d1b.2b18f2","name":"Out","filename":"/home/user/Desktop/Prova_2_Smart_Bracelets/SmartBracelets/outputFile.txt","format":"lines","chunk":false,"sendError":false,"x":450,"y":380,"wires":[["7ad5cc47.5825d4"]]},{"id":"ba0fa5cd.edbf88","type":"debug","z":"2c2f4d1b.2b18f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":320,"wires":[]},{"id":"bf308b0.70385f8","type":"inject","z":"2c2f4d1b.2b18f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":380,"wires":[["40148160.9c6388"]]},{"id":"75403995.e548a8","type":"serial out","z":"2c2f4d1b.2b18f2","name":"Serial port","serial":"e9d6db19.9d2518","x":1070,"y":440,"wires":[]},{"id":"7ad5cc47.5825d4","type":"function","z":"2c2f4d1b.2b18f2","name":"Catching Fall Alarm","func":"if(msg.payload.includes(\"FALL ALARM\")) return msg;\nif(msg.payload.includes(\"X:\")) return msg;\nif(msg.payload.includes(\"Y:\")) return msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["ba0fa5cd.edbf88","75403995.e548a8"]]},{"id":"e9d6db19.9d2518","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"}]